@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
#container-1 {
  background-image: url("images/bgk-header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 660px;
  margin-top: 0;
}

.item-1 {
  display: flex;
}
h2 {
  font-size: 30px;
  color: #00e0d0;
  font-family: "Roboto";
  font-weight: 250;
}
.item-2 {
  display: flex;
  justify-content: right;
}
nav {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  padding: 40px;
  border: 20px;
}
a {
  padding: 14px;
  text-align: right;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 900;
  text-decoration: none;
  color: #ffffff;
}
h1 {
  font-family: "Playfair Display";
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  margin-top: 100px;
}
hr.new1 {
  position: absolute;
  align-items: center;
  border-top: 1px solid #00e0d0;
  margin-top: 20px;
  margin-left: 876px;
  width: 50px;
  height: 1px;
}
.item-4 {
  font-family: "Roboto";
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  width: 771px;
  height: 62px;
  padding: 50px;
  margin-left: 500px;
}
.item-5 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 120px;
  height: 40px;
  margin-left: 846px;
}

.container {
  display: flex;
}

.container#story {
  justify-content: center;
}

.left {
  margin-right: 100px;
  margin-top: 30px;
}

.story_content {
  font-family: "Roboto";
  color: #413d4b;
  font-size: 14px;
  width: 540px;
  height: 170px;
  line-height: 22px;
  margin-top: 0px;
}

h3 {
  font-size: 22px;
  color: #413d4b;
  font-family: "Playfair Display";
  height: 47px;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

button {
  font-size: 16px;
  color: #00e0d0;
  font-family: "Hammersmith One";
  text-align: center;
  width: 120px;
  height: 40px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid #00e0d0;
}

#video {
  background-image: url("images/bgk-middle.png");
  height: 550px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
}

h5 {
  width: 460px;
  height: 18px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  font-family: "Roboto";
}
.container-4 {
  display: flex;
  justify-content: center;
}
.expertise {
  font-size: 22px;
  color: #413d4b;
  font-family: "Playfair Display";
  height: 47px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  margin-top: 50px;
  margin-left: 850px;
}
.paragraph {
  width: 700px;
  height: 27px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #2f2d35;
  font-weight: 400;
  font-family: "Playfair Display";
  text-align: center;
  margin-left: 550px;
}
hr.new2 {
  position: absolute;
  align-items: center;
  border-top: 0.5px solid #2f2d35;
  margin-top: 10px;
  margin-left: 890px;
  width: 50px;
  height: 1px;
}
.box-2 {
  display: flex;
  justify-content: center;
  margin: 100px;
}
.icon-1 {
  margin-bottom: 30px;
  margin-left: 90px;
}
.title-1 {
  margin-right: 40px;
}
.description-1 {
  width: 260px;
  text-align: center;
}
.icon-2 {
}
.title-2 {
}
.description-2 {
  width: 260px;
  text-align: center;
}
.icon-3 {
}
.title-3 {
}
.description-3 {
  width: 260px;
  text-align: center;
}
.box-3 {
  display: flex;
  justify-content: center;
}
